<div class="dashboard-widget" static="true">
	<div class="title-bar">
		<div change:include="module 'dashboard'; template 'Dashboard-Inc-MiniButtonsBar'; type 'html'"></div>
		<img change:img="icon/small/browser.png" /> ${transui:m.dashboard.bo.blocks.browsersversion,ucf}
	</div>
	<div class="content-block" tal:condition="not: browsers">
	   <strong>${transui:m.dashboard.bo.blocks.unknowversion,ucf}</strong>
	</div>
	<div class="content-block" tal:condition="browsers">
		<div id="wrongVersion" style="display: none;">${transui:m.dashboard.bo.blocks.wrongversion,ucf}</div>
		<strong>${transui:m.dashboard.bo.blocks.backofficetitle,ucf}</strong>
		<strong id="currentVersion" style="color: red"></strong>
		<ul class="dash-module-small">
			<li tal:repeat="versions browsers/backoffice">
				${repeat/versions/key} :
				<tal:block tal:repeat="version versions">
					<strong id="ver_${version}">${version}</strong><span tal:condition="not: repeat/version/end">, </span> 
				</tal:block>
			</li>
		</ul>
		
		<script type="text/javascript">
			var preferencesService = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefService).getBranch("");
			var navVersion =  preferencesService.getComplexValue('extensions.lastAppVersion', Components.interfaces.nsISupportsString).data;
			var elem = document.getElementById("ver_" + navVersion);
			if (elem != null)
			{
				elem.setAttribute('style', 'color: green;font-weight: bold;');
			}
			else
			{
				var text = '<br />' + document.getElementById("wrongVersion").innerHTML;
				document.getElementById("currentVersion").innerHTML = text.replace(/NAVVERSION/, navVersion);
			}
		</script>
		
		<strong>${transui:m.dashboard.bo.blocks.frontofficetitle,ucf}</strong>
		<ul class="dash-module-small">
			<li tal:repeat="versions browsers/frontoffice">
				${repeat/versions/key} : 
				<tal:block tal:repeat="version versions">
					<strong>${version}</strong><span tal:condition="not: repeat/version/end">, </span> 
				</tal:block>
			</li>
		</ul>
	</div>
</div>