<div class="dashboard-widget" static="true">
	<div class="title-bar">
		<div change:include="module 'dashboard'; template 'Dashboard-Inc-MiniButtonsBar'; type 'html'"></div>
		<img change:img="icon/small/note.png" /> 
		<tal:block tal:condition="title">${title}</tal:block>
		<tal:block tal:condition="not: title">${transui:m.dashboard.bo.blocks.dashboardnote.title,ucf}</tal:block>
	</div>
	<div class="content-block">
		<div>
			<textarea style="" cols="50" rows="${php: configuration.getFieldrows()-1}" onblur="var result = parent.window.wCore.executeJSON('dashboard', 'SaveNote', {noteContent: this.value}, null, true); if (result.status !== 'OK') { alert(result.contents.errorMessage); }">${noteContent}</textarea>
		</div>
	</div>
</div>