<div class="buttons-bar">
	<a class="button" action="gotomodule" href="javascript:;" change:i18nattr="title &modules.dashboard.dashboard.GoToModuleEllipsis;">
		<img change:icon="src search/small" />
	</a>
	<a class="button" action="refresh" href="javascript:;" change:i18nattr="title &modules.dashboard.dashboard.Refresh;">
		<img change:icon="src refresh/small" />
	</a>
	<a class="button" action="toggle" href="javascript:;" change:i18nattr="title &modules.dashboard.dashboard.Toggle;">
		<img change:icon="src togle/small" />
	</a>
</div>