<div class="dashboard-widget" tal:omit-tag="refresh" refreshURL="${refreshURL}" title="${title}" icon="${icon}" hideGotoModule="${hideGotoModule}">
	<tal:block tal:condition="forEdition">
		<div class="title-bar" ><img src="${icon}" /> ${title}</div>
		<div class="content-block"><div class="content" change:translate="&modules.dashboard.dashboard.DummyContent;">...</div></div>
	</tal:block>
	<tal:block tal:condition="not:forEdition">
		<ul>
			<li tal:repeat="item items"><strong><a href="${item/permalink}" class="link" target="_blank">${item/title}</a></strong> - <small change:date="value item/date ; format 'l j F Y, H:i'" /></li>
		</ul>
	</tal:block>
</div>