<div class="buttons-bar">
	<a class="button" action="gotomodule" href="javascript:;" title="${transui:m.dashboard.dashboard.gotomodule,ucf,etc,attr}">
		<img change:img="icon/small/search.png" />
	</a>
	<a class="button" action="refresh" href="javascript:;" title="${transui:m.dashboard.dashboard.refresh,ucf,attr}">
		<img change:img="icon/small/refresh.png" />
	</a>
	<a class="button" action="toggle" href="javascript:;" title="${transui:m.dashboard.dashboard.toggle,ucf,attr}">
		<img change:img="icon/small/toggle.png" />
	</a>
</div>