<div class="buttons-bar">
	<a class="button" action="gotomodule" href="javascript:;" change:i18nattr="title &modules.dashboard.dashboard.GoToModuleEllipsis;">
		<img change:img="icon/small/search.png" />
	</a>
	<a class="button" action="refresh" href="javascript:;" change:i18nattr="title &modules.dashboard.dashboard.Refresh;">
		<img change:img="icon/small/refresh.png" />
	</a>
	<a class="button" action="toggle" href="javascript:;" change:i18nattr="title &modules.dashboard.dashboard.Toggle;">
		<img change:img="icon/small/togle.png" />
	</a>
</div>